{% extends 'profiles/base.html' %}
{% load static %}

{% block title %}
    Frendzy Blog | Logout
{% endblock %}


{% block content %}

<div class="container">


        <h2 class="text-center mt-4"><span class="text-primary">Thanks for your time</span></h2>

        <img src="{% static 'asserts/logout.png' %}" class="img-fluid" alt="image">
        <h2 class="text-center">Wanna come back?</h2>
        <h3 class="text-center">>>><a href="{% url 'profiles:login' %}">Login Here</a><<<<</h3>




</div>


{% endblock %}

