{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
{% if user.username %}
    {{ user.username|title }}'s Blog
    {% else %}
Frendzy <span class="text-primary">Blog</span>
{% endif %}

{% endblock %}


{% block content %}

<div class="row justify-content-left mt-2">
    <div class="col-8">
        <h1 class="mt-2"><b>{{ category.name }}</b></h1>
      <hr class="mt-0 mb-2">
    </div>
</div>

        {% for post in category.post_set.all %}
        <div class="card content mt-2">

            <div class="row">
                    <div class="col-md-4">
                        {% if post.image %}
                        <div class="post-image">
                            <a href="{% url 'post_detail' slug=post.slug %}"><img class="card-img-top" src="{{ post.image.url }}" height="200px" width="200px" alt="image.png"></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                            <div class="card-body">
                                <div class="small text-muted">posted by {{ post.author.user.username| title }} on {{ post.published_date }} - {{post.category}}</div>
                                <h2 class="card-title h4">{{ post.title }}</h2>
                                <p class="card-text">{{ post.content|safe|truncatechars:200 }}</p>
<!--                                <a class="btn btn-primary" href="{% url 'like_post' slug=post.slug %}">likes {{ post.likes.count }}</a>-->
                                <a class="btn btn-primary" href="{% url 'post_detail' slug=post.slug %}">Read More</a>

                            </div>
                    </div>
            </div>
        </div>
        {% empty %}
        <div class="card content mt-2">
            <div class="card-body">
                <h3 class="card-title text-center"><b>No post to display</b></h3>
                <img class="rounded mx-auto d-block" src="{% static 'assets/empty.png' %}" height="50%" width="50%" />
                {% if user.is_authenticated %}
                <h5 class="card-title text-center"><b>Be the first to <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">create a post</a></b></h5>
                {% else %}
                <h5 class="card-title text-center"><b><a class="text-decoration-none" href="{% url 'profiles:login' %}">Login to create post</a></b></h5>
                {% endif %}
            </div>
        </div>

        {% endfor %}



    {% if category.post_set.all %}
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page.number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}


