{% extends 'blog/base.html' %}


{% block content %}

<div class="row justify-content-left">
    <div class="col-8">
      <h1 class="mt-2">{{ post.category.name }}</h1>
      <hr class="mt-0 mb-4">
    </div>
</div>

<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="{{ post.image.url }}" height="400px"  alt="..." /></a>
    <div class="card-body">
        <div class="small text-muted">Published on {{ post.published_date }} posted by {{ post.author.username }}</div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content|safe|linebreaksbr }}</p>
    </div>
</div>

{% endblock %}

