{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ post.category.name }} | {{ post.title }}
{% endblock %}


{% block content %}

<div class="card content mt-2">

    <a href="#"><img class="card-img-top" src="{{ post.image.url }}" alt="image.png"></a>

    <div class="card-body">
        <div class="small text-muted">Published on {{ post.published_date }} posted by {{ post.author.user.username| title }}</div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.content|safe|linebreaksbr }}</p>
    </div>

</div>


 <!-- comments -->
<div class="my-2">

    <div>
        <form id="form" method="POST" action="{% url 'post_detail' slug=post.slug%}">
            {% csrf_token %}
        <div class="input-group comment-input">
            <a href="#"><img class="card-img-top" height="50px" src="{{ post.image.url }}" alt="image.png"></a>
            <input name="content" class="form-control" type="text" placeholder="Leave a comment">
            <button type="submit" class="btn btn-primary" id="button-search" type="button">Post</button>
        </div>
        </form>
    </div>
</div>

{% if comments %}
<div class="card my-2">

        <div class="card-header bg-dark text-white">
            Comments
        </div>
    <br>
            {% for comment in comments %}
            <div class="d-flex flex-row content mx-4"> <img src="img/profile.png" height="40" width="40" class="rounded-circle">
                <div class="d-flex flex-column ms-2">
                    <h6 class="mb-1 text-primary">posted by {{ comment.author.user.username }} on {{ comment.created_on }}</h6>
                    <p class="comment-text">{{ comment.content }}</p>
                </div>
            </div>
            {% endfor %}


</div>
{% endif %}
</div>

{% endblock %}

