{% extends 'blog/base.html' %}

{% block title %}
    Search Results
{% endblock %}

{% block content %}

<div class="row justify-content-left">
    <div class="col-8">
      <h1 class="mt-2">Search Results</h1>
      <hr class="mt-0 mb-4">
    </div>
</div>

<!-- Nested row for non-featured blog posts-->
<div class="row">
    {% for post in s_posts %}
    <div class="col-lg-6">
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="{{ post.image.url }}" height="300px"  alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">Published on {{ post.published_date }} posted by {{ post.author.username }}</div>
                <h2 class="card-title h4">{{ post.title }}</h2>
                <p class="card-text">{{ post.content|safe|truncatechars:200 }}</p>
                <a class="btn btn-primary" href="{% url 'post_detail' slug=post.slug %}">Read more →</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">You have no post matching your search query</h2>
        </div>
    </div>
    {% endfor %}

</div>
<!-- Pagination-->
{% if posts %}
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page.number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}


