<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Frendzy <span class="text-primary">Dashboard</span></a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Create Post</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profiles:logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'post_list' %}">Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profiles:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profiles:signup' %}">Sign Up</a></li>
                {% endif %}

                <li class="nav-item">
                <form class="form-control" method="GET" action="{% url 'search_result' %}">
                        {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control" name="q" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="submit">Search</button>
                    </div>
                </form>
                </li>
            </ul>
        </div>

    </div>
    </nav>
     <div class="container mt-4">

         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog content">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><b>Create Post</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'post_create' %}">
                    {% csrf_token %}

                    {{ post_form | crispy }}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Post">
                    </div>
                </form>
              </div>


            </div>
          </div>
        </div>




        <div class="row">

            <!-- Side widgets-->
            <div class="col-lg-4">

                <!-- Profile widget-->
                <div class="card profile-card mb-4">

                        <div class="card-body">
                            <div class="card-img-top text-center"> <img src="{{ user.profile.profile_pic.url }}" height="50px" width="100px" class="rounded-circle"></div>
                            <h1>{{ user.profile.first_name | title}} {{ user.profile.last_name | title }}</h1>

                            <p class="card-title">{{ user.profile.bio }}</p>

                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <br>
                            <a class="btn btn-primary mt-2" href="{% url 'profile_update' slug=user.profile.slug %}">Update</a>
                        </div>

                </div>

            </div>
            {% block content %}

            {% endblock %}

        </div>
    </div>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Frendzy <span class="text-primary">Blog</span> 2021</p></div>
        <div class="container"><p class="m-0 text-center text-white">Disclaimer: Every Frendzy <span class="text-primary">Blog</span> member is solely responsible for anything that he/she posts or uploads on Frendzy <span class="text-primary">Blog</span>.
        </p></div>


    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous">
</script>
</body>

</html>