{% extends 'dashboard/d_base.html'%}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}




 <!-- Blog entries-->
        <div class="col-lg-8">

            <div class="row justify-content-left">


                <div class="col-lg-8">
                    <h1 class="mt-2"><b>Posts</b><a class="btn btn-primary mx-2" href="#"><i class="fas fa-pencil-alt"></i>Create Post</a>
                    </h1>
                  <hr class="mt-0 mb-2">
                </div>
            </div>


            {% for post in d_posts %}
            <div class="card content-dash mt-2">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="post-image">
                                <a href="#"><img class="img-fluid" src="{{ post.image.url }}" alt="image.png"></a>
                            </div>
                        </div>

                        <div class="col-md-8">

                                <div class="card-body">
                                    <div class="small text-muted">Published on {{ post.published_date }} posted by {{ post.author.user.username| title }}</div>
                                    <h5 class="card-title"><b>{{ post.title }}</b></h5>
                                    <a class="btn btn-primary" href="{% url 'post_detail' slug=post.slug %}">View</a>
                                    <a class="btn btn-warning" href="{% url 'post_update' slug=post.slug %}">Update</a>
                                    <a class="btn btn-danger" href="{% url 'post_delete' slug=post.slug %}">Delete</a>
                                </div>
                        </div>

                    </div>
            </div>
            {% empty %}
            <div class="card content mt-2">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>No Post To Display</b></h5>
                </div>
            </div>
            {% endfor %}



        <!-- Pagination-->
        {% if d_posts %}
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page.number }}" tabindex="-1" aria-disabled="true">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

{% endblock %}
