{% extends 'dashboard/d_base.html'%}

{% block title %}
    Dashboard | Posts
{% endblock %}

{% block content %}
<!-- Page content-->
        <div class="container">
            <div class="row py-5">

                <!-- Blog entries-->
                <div class="col-lg-8">
                    <div class="row justify-content-left">
                        <div class="col-8">
                          <h1 class="mt-2">Posts</h1>
                          <hr class="mt-0 mb-4">
                        <a class="btn btn-primary my-3" href="{% url 'post_create' %}">Create Post</a>
                        <a class="btn btn-primary my-3" href="{% url 'post_drafts' %}">Drafts</a>

                        </div>
                    </div>


                    {% for post in d_posts %}
                        {% if post.published_date %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="small text-muted">Published on {{ post.published_date }} posted by {{ post.author.username }}</div>
                                <h2 class="card-title">{{ post.title }}</h2>
                                <a class="btn btn-primary" href="#">View</a>
                                <a class="btn btn-warning" href="#">Update</a>
                                <a class="btn btn-danger" href="{% url 'post_delete' slug=post.slug %}">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                        {% empty %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">You have no posts to display</h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination-->
<!--                {% if posts %}-->
<!--                <nav aria-label="Pagination">-->
<!--                    <hr class="my-0" />-->
<!--                    <ul class="pagination justify-content-center my-4">-->
<!--                        {% if page_obj.has_previous %}-->
<!--                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page.number }}" tabindex="-1" aria-disabled="true">Previous</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>-->
<!--                        {% endif %}-->
<!--                        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>-->
<!--                        {% if page_obj.has_next %}-->
<!--                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>-->
<!--                        {% endif %}-->
<!--                    </ul>-->
<!--                </nav>-->
<!--                {% endif %}-->

                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <form class="form-control" method="GET" action="{% url 'dsearch_result' %}">
                                {% csrf_token %}
                            <div class="input-group">
                                <input class="form-control" name="q" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
<!--                    <div class="card mb-4">-->
<!--                        <div class="card-header">Categories</div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="row">-->
<!--                                {% for category in categories %}-->
<!--                                <div class="col-sm-6 text-center">-->
<!--                                    <ul class="list-unstyled mb-0">-->
<!--                                        <li><a href="{% url 'category_detail' slug=category.slug %}">{{ category.name }}</a></li>-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                                {% endfor %}-->
<!--                                <br>-->
<!--                                <a class="btn btn-primary" href="#">Add Category</a>-->


<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>

            </div>
        </div>
 {% endblock %}