{% extends 'dashboard/d_base.html'%}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}




 <!-- Blog entries-->
        <div class="col-lg-8">

            <div class="row justify-content-left">


                <div class="col-lg-8">
                    <h1 class="mt-2"><b>Posts</b><a href="#" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Create Post</a>

                    </h1>
                  <hr class="mt-0 mb-2">
                </div>
            </div>


            {% for post in d_posts %}
            <div class="card content-dash mt-2">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="post-image">
                                <a href="{% url 'post_detail' slug=post.slug %}"><img class="card-img-top" src="{{ post.image.url }}" height="150px" width="150px" alt="image.png"></a>

                            </div>
                        </div>

                        <div class="col-md-8">

                                <div class="card-body">
                                    <div class="small text-muted">posted by {{ post.author.user.username| title }} on {{ post.published_date }} - {{post.category}}</div>
                                    <h5 class="card-title"><b>{{ post.title }}</b></h5>
                                    <a class="btn btn-primary" href="{% url 'post_detail' slug=post.slug %}">View</a>
                                    <a class="btn btn-warning" href="{% url 'post_update' slug=post.slug %}">Update</a>
                                    <a class="btn btn-danger" href="{% url 'post_delete' slug=post.slug %}">Delete</a>
                                </div>
                        </div>

                    </div>
            </div>
            {% empty %}
            <div class="card content mt-2">
                <div class="card-body">
                    <h3 class="card-title text-center"><b>No post to display</b></h3>
                    <img class="rounded mx-auto d-block" src="{% static 'assets/empty.png' %}" height="50%" width="50%" />
                    <h5 class="card-title text-center"><b>Be the first to <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">create a post</a></b></h5>

                </div>
            </div>
            {% endfor %}



    </div>

{% endblock %}
