{% extends 'profiles/profiles_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Delete | {{ post.title }}
{% endblock %}

{% block content %}

<div class="container">
      <div class="row justify-content-left">
        <div class="col-8">
          <h1 class="mt-2">Delete Post</h1>
          <hr class="mt-0 mb-4">
            <form method="post" class="bootstrap4" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="mt-2">Are you sure you want to delete "{{ post }}"</h3>

                {{ form|crispy }}
                <br>
                <input type="submit" class="btn btn-primary" value="Delete">
                <a class="btn btn-primary" href="{% url 'dashboard' %}">Cancel</a>
            </form>

        </div>
      </div>
    </div>

{% endblock %}