{% extends 'accounts/account_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Dashboard | Create Post
{% endblock %}

{% block content %}
<div class="container">
      <div class="row justify-content-left">
        <div class="col-8">
          <h1 class="mt-2">Create Post</h1>
          <hr class="mt-0 mb-4">
            <form method="post" class="bootstrap4" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <input type="submit" class="btn btn-primary" value="Save Post">

            </form>

        </div>
      </div>
    </div>

{% endblock %}